<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net461" />
  <package id="EPPlus" version="4.1.1" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="NLog" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.13" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.13" targetFramework="net461" />
</packages>